DB_HOST=localhost
DB_PORT=3307
DB_NAME=telemetriadb
DB_USER=admin
DB_PASS=secret
DB_USE_SSL=false

CASSANDRA_CONTACT_POINTS=localhost
CASSANDRA_PORT=9042
CASSANDRA_KEYSPACE=webhardmon
CASSANDRA_LOCAL_DATACENTER=datacenter1
CASSANDRA_USERNAME=cassandra
CASSANDRA_PASSWORD=cassandra

GRAFANA_DASHBOARD_URL=http://localhost:3000/d-solo/webhardmon-cassandra-clean/webhardmon-cassandra
GRAFANA_EMPRESA_DASHBOARD_URL=http://localhost:3000/d-solo/webhardmon-cassandra-clean/webhardmon-cassandra
GRAFANA_ORDENADORES_DASHBOARD_URL=http://localhost:3000/d-solo/webhardmon-cassandra-ordenadores/webhardmon-cassandra-ordenadores
